<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Grievance Form</title>
    <link rel="stylesheet" th:href="@{/farmer/style/grievences.css}">
    <link rel="stylesheet" th:href="@{/farmer/style/style.css}">
</head>
<body>

    <nav id="menu">
        <ul>
            <li><a th:href="@{/farmer/home}">&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/farmer/schemes}">NGOs & Gov Schemes&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/farmer/soilQuality}">Crop Rotation&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/farmer/calender}">Crop Tracking System&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/farmer/form}">Apply for Loan&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/farmer/status}">Application Status&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/farmer/schemeApply}">Schemes&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/farmer/grievences}">Grievences&nbsp;&nbsp;&nbsp;</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

    <div class="container" style="margin-top: 200px">
        <form action="" th:action="@{/farmer/processGrievences}" method="post" th:object="${grievences}">
            <h2>Report New Grievance</h2>
            <label for="applicationId">Application ID</label>
            <input type="text" id="applicationId" name="applicationId" value="1244140" readonly>

            <label for="bank">Bank</label>
            <select id="bank" name="bank">
                <option th:each="b :${banks}"
                        th:value="${b.id}"
                        th:text="${b.getBankName()}"
                >
            </select>

            <label for="grievencesType">Grievance Type</label>
            <select id="grievencesType" name="grievencesType">
                <option>Loan application status query</option>
                <option>Loan process query</option>
                <option>Loan scheme query</option>
                <option>Bank contact details</option>
                <option>Preferred bank branch and name of bank official</option>
                <option>Suggestions</option>
                <option>Complaints</option>
                <option>Other</option>
            </select>

            <label for="grievencesDescription">Write Query</label>
            <textarea id="grievencesDescription" name="grievencesDescription" rows="4" placeholder="Write your query here..."></textarea>

            <button>Submit</button>
            <button class="cancel" onclick="clearForm()">Cancel</button>
        </form>
    </div>

    <script>
        function clearForm() {
            document.getElementById("grievance_type").selectedIndex = 0;
            document.getElementById("query").value = "";
        }
    </script>
</body>
</html>
