<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmEasy - Loan Application</title>
    <link rel="stylesheet" th:href="@{/bankStatic/style/statusStyle.css}">
</head>
<body>

    <header>
        
        <nav>
          <!-- nav bar aayega yaha  -->
        </nav>
    </header>

    <main>
        <h2>Welcome Abhishek Mishra</h2>
        <section class="applications">
            <h3>MY APPLICATIONS</h3>
            <p class="note">
                1. Click on Application ID to view or download the submitted application form. <br>
                2. Click on Status of loan application to view the status history of your applications.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Bank Name</th>
                        <th>Loan Required Amount (In Rs)</th>
                        <th>Scheme Name</th>
                        <th>Application ID</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Remarks from Bank</th>
                        <th>Disbursement Date</th>
                        <th>Report Grievance</th>
                        <th>Channel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ap : ${apply}">
                        <td>1</td>
                        <td th:text="${ap.getScheme().getBank().getBankName()}">Canara Bank</td>
                        <td th:text="${ap.getAmount()}">Rs.691,000</td>
                        <td th:text="${ap.getScheme().getSchemeName()}">VIDYA TURANT</td>
                        <td th:text="${ap.getId()}"><a href="#">1244140</a></td>
                        <td th:text="${ap.getDate()}">14-Nov-2021</td>
                        <td th:text="${ap.getStatus()}" class="status">Disbursed</td>
                        <td th:text="${ap.getReview()}">Approved</td>
                        <td th:text="${ap.getStatusDate()}">13-Dec-2021</td>
                        <form th:action="@{/farmer/grievences}" method="get">
                            <td><button type="submit" class="grievance-btn">Report Grievance</button></td>
                        </form>
                        <td>PORTAL</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>Copyright 2024 | Powered by Protean eGov Technologies Limited - 
            Building nationally critical and population scale Digital Public Infrastructure for the nation.
        </p>
    </footer>

</body>
</html>
