/* Ensure the page takes full height */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px; /* Hidden initially */
  background-color: #2c3e50;
  padding-top: 20px;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #1a252f;
}

.menu-btn {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: #202c39;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
}

.menu-btn:hover {
  background-color: #202a34;
}

.show-sidebar {
  left: 0; /* Show sidebar */
}

/* Push content to make space when sidebar is open */
.content {
  flex: 1;
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s;
}

/* Move content when sidebar is open */
.sidebar-open .content {
  margin-left: 250px;
}

.bg-navbar-color {
  background-color: #2c3e50 !important; /* Sidebar color */
}

.bg-navbar-color:hover {
  background-color: #1a252f !important;
}
.popup-form {
  width: 50%;
  max-width: 600px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 20vh; /* Limits height */
  overflow-y: auto; /*Enables scrolling*/
}

/* Fix Footer at the bottom */
.footer {
  background-color: #2c3e50; /* Same as navbar */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
